<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--0是正式，其他是测试-->
    <add key="UMengEnvironment" value="1" />
    <!--安卓和IOS的Key和秘钥，通过友盟后台获取-->
    <add key="UMengIOSAppKey" value="" />
    <add key="UMengIOSAppMasterSecret" value="" />
    <add key="UMengAndroidAppKey" value="" />
    <add key="UMengAndroidAppMasterSecret" value="" />
  </appSettings>
</configuration>